.signup_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

.form_div {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.form_item:focus {
    border: 1px solid #3b3b3b;
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.5);
}

.form_button {
    width: 100%;
    background: #3b3b3b;
    border: none;
}

.form_button:hover {
    background: black !important;
}

.form_button:active {
    background: black !important;
    transform: translateY(1.5px);
}

.div_title {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 20px;
}

.link_div {
    padding: 5px;
    margin-top: 20px;
}

.link {
    color: #3b3b3b;
}

.link:hover {
    color: blue;
}

.link_text {
    font-size: larger;
}

.alert_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
}

.alert {
    width:  100%;
    text-align: center;
}